SUPABASE_URL=https://bbktobbqcouxifnrqqnf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_CA-yU-kGIyu_7DclpHSx3g_Fo9kg117
SUPABASE_SERVICE_ROLE_KEY=replace-me
CEDICT_BUCKET=dictionary
CEDICT_OBJECT_PATH=cedict/cedict_1_0_ts_utf-8_mdbg.txt
